
<footer class="fade-in" id="last-section">
  <div class="last-section-container">
    <div class="social-media">
      <a class="footer-link fade-in underline" href="https://www.linkedin.com/in/adedotun-alausa" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a class="footer-link fade-in underline" href="https://github.com/adedotunalausa" target="_blank"><i class="fab fa-github"></i></a>
      <a class="footer-link fade-in underline" href="https://www.instagram.com/mousebrushstudio/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="footer-right">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms & Conditions</a>
      <p class="copyright">© 2020 Adedotun Alausa</p>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="index.js" charset="utf-8"></script>
</body>

</html>
