
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Adedotun Alausa | A Full Stack Developer</title>

  <link rel="icon" href="A.ico">

  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap" rel="stylesheet">

  <base href="/">

  <link rel="stylesheet" type='text/css' href="css/styles.css">

  <script src="https://kit.fontawesome.com/0e582f6ddb.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="page-content-wrapper">
    <nav>
      <div class="nav-container fade-in">
        <div class="logo-wrapper">
          <span><a class="my-name" href="/">Adedotun</a></span>
          <span><a class="my-surname" href="/">Adedotun Alausa</a></span>
        </div>
        <ul class="menu-items2">
          <a class="underline" href="/">
            <li>Home</li>
          </a>
          <a class="journal underline" href="/journal">
            <li>Journal</li>
          </a>
          <a class="contact" href="mailto:adedotunalausa@gmail.com">
            <li>Contact</li>
          </a>
        </ul>
        <div class="btn-ham-container">
          <div class="menu-btn hidden">
            <div class="menu-btn-burger"></div>
          </div>
        </div>
      </div>

      <div>
        <ul class="menu-items">
          <a class="hide-menu" href="/">
            <li>Home</li>
          </a>
          <a class="journal hide-menu" href="/journal">
            <li>Journal</li>
          </a>
          <a class="contact hide-menu" href="mailto:adedotunalausa@gmail.com">
            <li>Contact</li>
          </a>
        </ul>
        <div class="menu-items-bg"></div>
      </div>
    </nav>
