
<%- include("partials/header"); -%>

<!-- First Section -->
<section id="first-section">
  <div class="first-section-container">

    <div class="first-section-content">
      <p class="hello fade-in">Hello, I'm Adedotun 👋🏼</p>
      <h1 class="fade-in">Full Stack Web Developer</h1>
      <p class="brief-info fade-in">
        I build digital products that meets the expectations of
        users, help businesses reach their goals and result
        in an awesome user interaction
      </p>
      <a class="butn fade-in scroll" href="#abilities">More about me</a>
    </div>

    <picture>
      <source media="(min-width: 768px)" srcset="images/Adedotunn.png">
      <source media="(min-width: 320px)" srcset="images/Adedotunnn.png">
      <img class="fade-in" src="images/Adedotunn.png" alt="Adedotun-image">
    </picture>
  </div>
</section>

<!-- Second Section -->
<section class="second-section">
  <div class="projects fade-in">
    <h2 class="fade-in">Projects</h2>
    <p class="fade-in">
      Digital Products (Apps, Website, SaaS solutions) which are visually pleasing,
      functional and easy to use
    </p>
    <div class="projects-container fade-in">
      <a href="https://continery.vercel.app/" target="_blank">
        <div class="card fade-in">
            <div class="card-heading">
              <h4>CONTINERY</h4>
              <h3 class="continery-h3">Explore the world around you</h3>
            </div>
            <img class="card-img1" src="images/continery-img.png" alt="sassie-img1">
        </div>
      </a>
      <a href="https://haiyo.herokuapp.com/" target="_blank">
        <div class="card card-haiyo card-dark fade-in">
            <img class="card-img2" src="images/haiyo-img.png" alt="sassie-img1">
            <div class="card-heading">
              <h4 class="haiyo-h4">HAIYO</h4>
              <h3 class="haiyo-h3">Search Nigerian names and get their meanings</h3>
            </div>
        </div>
      </a>
      <a href="https://simon-game-six.vercel.app/" target="_blank">
        <div class="card card-simon simon-bg fade-in">
            <img class="card-img2" src="images/simon-img.png" alt="sassie-img1">
            <div class="card-heading">
              <h4 class="simon-h4">SIMON</h4>
              <h3 class="simon-h3">Based on an electric game of memory skills</h3>
            </div>
        </div>
      </a>
      <a href="https://sassiesaent.com/" target="_blank">
        <div class="card fade-in">
            <div class="card-heading">
              <h4>SASSIE SA ENTERTAINMENT</h4>
              <h3>Event planning, hosting, Games and Talks</h3>
            </div>
            <img class="card-img1" src="images/sassie-img1.png" alt="sassie-img1">
        </div>
      </a>
    </div>
  </div>
</section>

<!-- Third Section -->
<section id="abilities">
  <h2 class=" fade-in">Abilities</h2>
  <div class="second-section-container">
    <div>
      <img class="web-development-img fade-in" src="images/coding.png" alt="coding-img">
      <h3 class="fade-in">Front-End Development</h3>
      <ul class="fade-in">
        <li>Animations</li>
        <li>Web Applications</li>
        <li>Platform Solutions</li>
        <li>Responsive & Mobile Websites</li>
      </ul>
    </div>

    <div>
      <img class="data-sci-img fade-in" src="images/data-analytics.png" alt="data-analytics-img">
      <h3 class="fade-in">Back-End Development</h3>
      <ul class="fade-in">
        <li>API</li>
        <li>Database</li>
        <li>Cloud Computing</li>
        <li>Application Logic</li>
      </ul>
    </div>
  </div>
</section>

<section class="fourth-section">
  <div class="fourth-section-container">
    <h2 class=" fade-in">SKills & Tools</h2>
    <span class="butn-tech butn">Front-End Dev</span>
    <div class="row fade-in tools-container">
      <div class="box" id="box1">
        <div class="box-inner">
          <img src="images/html5-logo.png" alt="html-image">
          <p>HTML(5)</p>
        </div>
      </div>
      <div class="box" id="box1">
        <div class="box-inner">
          <img class="css" src="images/css3-logo.png" alt="css-image">
          <p>CSS(3)</p>
        </div>
      </div>
      <div class="box" id="box1">
        <div class="box-inner">
          <img class="js" src="images/js5-logo.png" alt="js-image">
          <p>Javascript</p>
        </div>
      </div>
      <div class="box" id="box1">
        <div class="box-inner">
          <img class="bs" src="images/bootstrap-logo.png" alt="bootstrap-image">
          <p>Bootstrap</p>
        </div>
      </div>
      <div class="box" id="box1">
        <div class="box-inner">
          <img class="jq" src="images/jquery-logo.png" alt="jquery-image">
          <p>JQuery</p>
        </div>
      </div>
      <div class="box" id="box1">
        <div class="box-inner">
          <img class="react" src="images/react.png" alt="react-image">
          <p>React</p>
        </div>
      </div>
      <div class="box" id="box1">
        <div class="box-inner">
          <img class="git" src="images/git-logo.png" alt="git-image">
          <p>Git</p>
        </div>
      </div>
    </div>

    <span class="butn-tech butn">Back-End Dev</span>
    <div class="row fade-in tools-container">
      <div class="box" id="box2">
        <div class="box-inner">
          <img class="node" src="images/nodejs-logo.png" alt="node-image">
          <p>NodeJs</p>
        </div>
      </div>
      <div class="box" id="box4">
        <div class="box-inner">
          <img class="express" src="images/expressjs-logo.png" alt="express-image">
          <p>ExpressJs</p>
        </div>
      </div>
      <div class="box" id="box5">
        <div class="box-inner">
          <img class="sql" src="images/sql-logo.png" alt="sql-image">
          <p>SQL</p>
        </div>
      </div>
      <div class="box" id="box6">
        <div class="box-inner">
          <img class="mongodb" src="images/mongo.png" alt="mongo-image">
          <p>mongoDB</p>
        </div>
      </div>
      <div class="box" id="box1">
        <div class="box-inner">
          <img src="images/python.png" alt="python-image">
          <p>Python</p>
        </div>
      </div>
      <div class="box" id="box1">
        <div class="box-inner">
          <img src="images/google-cloud.png" alt="gcp-image">
          <p>GCP</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="fifth-section">
  <div class="fifth-section-container">
    <div class="contact1">
      <h3 class="fade-in">Have ideas flooding your mind and would love to see them come alive?</h3>
      <p class="fade-in">Let's discuss and create amazing solutions to problems.</p>
      <a class="butn fade-in" href="mailto:adedotunalausa@gmail.com">Send an email</a>
    </div>
    <div class="contact2">
      <p class="fade-in">+234 813 964 9118</p>
      <p class="fade-in">adedotunalausa@gmail.com</p>
    </div>
  </div>
</section>
</div>

<%- include("partials/footer"); -%>
