
<%- include("partials/header"); -%>

<!-- First Section -->
<section id="first-section">
  <div class="first-section-container">

    <div class="first-section-content">
      <p class="hello fade-in">Hello, I'm Adedotun 👋🏼</p>
      <h1 class="fade-in">A Full Stack Developer</h1>
      <p class="brief-info fade-in">
        I build digital products that meets the needs of
        users and help businesses reach their goals
      </p>
      <a class="butn fade-in scroll" href="#abilities">More about me</a>
    </div>

    <picture>
      <source media="(min-width: 768px)" srcset="images/Adedotunn.png">
      <source media="(min-width: 320px)" srcset="images/Adedotunnn.png">
      <img class="fade-in" src="images/Adedotunn.png" alt="Adedotun-image">
    </picture>
  </div>
</section>

<!-- Second Section -->
<section id="abilities">
  <h2 class=" fade-in">Abilities</h2>
  <div class="second-section-container">
    <div>
      <img class="web-development-img fade-in" src="images/coding.png" alt="coding-img">
      <h3 class="fade-in">Front-End Development</h3>
      <ul class="fade-in">
        <li>Front-end Development</li>
        <li>Back-end Development</li>
        <li>Responsive & Mobile Websites</li>
        <li>Web Applications</li>
        <li>Platform Solutions</li>
      </ul>
    </div>

    <div>
      <img class="data-sci-img fade-in" src="images/data-analytics.png" alt="data-analytics-img">
      <h3 class="fade-in">Back-End Development</h3>
      <ul class="fade-in">
        <li>Data Mining</li>
        <li>Exploratory Data Analysis</li>
        <li>Data Visualisation</li>
        <li>Machine Learning</li>
        <li>Deep Learning</li>
      </ul>
    </div>
  </div>
</section>

<section class="fourth-section">
  <div class="fourth-section-container">
    <h2 class=" fade-in">SKills & Tools</h2>
    <span class="butn-tech">Web Dev</span>
    <div class="row fade-in tools-container">
      <div class="box" id="box1">
        <div class="box-inner">
          <img src="images/html5-logo.png" alt="sass-image">
          <p>HTML(5)</p>
        </div>
      </div>
      <div class="box" id="box1">
        <div class="box-inner">
          <img class="css" src="images/css3-logo.png" alt="sass-image">
          <p>CSS(3)</p>
        </div>
      </div>
      <div class="box" id="box1">
        <div class="box-inner">
          <img class="js" src="images/js5-logo.png" alt="sass-image">
          <p>Javascript</p>
        </div>
      </div>
      <div class="box" id="box1">
        <div class="box-inner">
          <img class="jq" src="images/jquery-logo.png" alt="sass-image">
          <p>JQuery</p>
        </div>
      </div>
      <div class="box" id="box1">
        <div class="box-inner">
          <img class="bs" src="images/bootstrap-logo.png" alt="sass-image">
          <p>Bootstrap</p>
        </div>
      </div>
      <div class="box" id="box1">
        <div class="box-inner">
          <img src="images/json-logo.png" alt="sass-image">
          <p>JSON</p>
        </div>
      </div>
      <div class="box" id="box1">
        <div class="box-inner">
          <img class="git" src="images/git-logo.png" alt="sass-image">
          <p>Git</p>
        </div>
      </div>
      <div class="box" id="box2">
        <div class="box-inner">
          <img class="node" src="images/nodejs-logo.png" alt="node-image">
          <p>NodeJs</p>
        </div>
      </div>
      <div class="box" id="box3">
        <div class="box-inner">
          <img src="images/php-logo.png" alt="php-image">
          <p>php</p>
        </div>
      </div>
      <div class="box" id="box4">
        <div class="box-inner">
          <img class="express" src="images/expressjs-logo.png" alt="express-image">
          <p>ExpressJs</p>
        </div>
      </div>
      <div class="box" id="box5">
        <div class="box-inner">
          <img class="sql" src="images/sql-logo.png" alt="sql-image">
          <p>SQL</p>
        </div>
      </div>
      <div class="box" id="box6">
        <div class="box-inner">
          <img class="mongodb" src="images/mongodb-logo.png" alt="mongo-image">
          <p>mongoDB</p>
        </div>
      </div>
    </div>

    <span class="butn-tech">Data Science</span>
    <div class="row fade-in tools-container">
      <div class="box" id="box1">
        <div class="box-inner">
          <img class="python" src="images/python-logo.png" alt="sass-image">
          <p>Python</p>
        </div>
      </div>
      <div class="box" id="box1">
        <div class="box-inner">
          <img class="pandas" src="images/pandas-logo.png" alt="sass-image">
          <p>Pandas</p>
        </div>
      </div>
      <div class="box" id="box2">
        <div class="box-inner">
          <img class="tableau" src="images/tableau-logo.png" alt="node-image">
          <p>Tableau</p>
        </div>
      </div>
      <div class="box" id="box3">
        <div class="box-inner">
          <img class="numpy" src="images/numpy-logo.png" alt="php-image">
          <p>Numpy</p>
        </div>
      </div>
      <div class="box" id="box3">
        <div class="box-inner">
          <img class="scikit" src="images/scikitlearn-logo.png" alt="php-image">
          <p>Scikit Learn</p>
        </div>
      </div>
      <div class="box" id="box4">
        <div class="box-inner">
          <img class="matplot" src="images/matplotlib-logo.svg" alt="express-image">
          <p>Matplotlib</p>
        </div>
      </div>
      <div class="box" id="box5">
        <div class="box-inner">
          <img class="seaborn" src="images/seaborn-logo.png" alt="sql-image">
          <p>Seaborn</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="fifth-section">
  <div class="fifth-section-container">
    <div class="contact1">
      <h3 class="fade-in">Have ideas flooding your mind and would love to see them come alive?</h3>
      <p class="fade-in">Let's discuss and create amazing solutions to problems.</p>
      <a class="butn fade-in" href="mailto:adedotunalausa@gmail.com">Send an email</a>
    </div>
    <div class="contact2">
      <p class="fade-in">+234 813 964 9118</p>
      <p class="fade-in">adedotunalausa@gmail.com</p>
    </div>
  </div>
</section>
</div>

<%- include("partials/footer"); -%>
