
<%- include("partials/header"); -%>

<div class="journal-page-content-wrapper">
  <h1 class="post-title fade-in"><%=title%></h1>
  <p class=" post-body fade-in"><%=body%></p>
</div>

<%- include("partials/footer"); -%>
